# ===== botik keys =====
api_key='XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...................'
secret_key='XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...................'

# ===== testnet (githab botik) spot keys =====
api_key='XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...................'
secret_key='XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...................'